*{
    box-sizing: border-box;
}

p {
    margin: 0px;
}

h1 {
    margin: 0px;
}

span {
    margin: 0px;
}

body {
    background-color: #69B99D;
}

.container {
    width: 1200px;
    height: 700px;
    position: relative;
    top: 50px;
    margin: auto;
    background-color: white;
    border-radius: 5px;
}

.header {
    width: 1037px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 80px;
}

.navbar {
    width: 400px;
    height: 30px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.navbar a {
    padding: 38px;
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #1F1534;
}

.navbar a:hover {
    color:#69B99D;
    font-weight: bold;
}

.logo {
    width: 106.59px;
    height: 30px;
}

.main {
    width: 1040px;
    height: 515.21px;
    background-color: white;
    position: absolute;
    top: 100px;
    right: 80px;
}

.right-main-img {
    width: 520px;
    height: 515.21px;
    float: right;
    background-image: url(../images/fitness-jump.png);
}

.left-main {
    width: 560px;
    height: 342px;
    position: absolute;
    top: 80px;
}

.left-main-text {
    width: 560px;
    height: 245px;
    background-color: white;
}

.left-main-text h1 {
    color: black;
    font-family: 'Mulish', sans-serif;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 150%;
}

.left-main-text span {
    color:#69B99D;
    font-family: 'Mulish', sans-serif;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 150%;
}

.left-main-text p {
    color: #4f4e52;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    margin-top: 25px;
    line-height: 160%;
}

.buton {
    width: 169px;
    height: 56px;
    background-color: #69B99D;
    position: relative;
    top: 41px;
}

.buton a {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
    color: #F9F9F9;
    padding: 16px;
    position: relative;
    left: 7px;
    text-decoration: none;
}

.buton-wp {
    width: 24px;
    height: 24px;
    background-image: url(../images/whatsapp\ 1.svg);
    position: relative;
    bottom: 39px;
    left: 24px;
}

.balls {
    width: 98.39px;
    height: 88px;
    position: relative;
    left:1095px;
    top: 605px;
    background-image:url(../images/balls-decoration.png);
}

.footer {
    background-color: white;
    width: 592px;
    height: 22px;
    position: relative;
    top: 575px;
    left:300px
}

.footer p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: 100;
}

.footer span {
    font-weight: bold;
}